[submodule "external/slang"]
	path = external/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/cpp-vcd-tracer"]
	path = external/cpp-vcd-tracer
	url = git@github.com:miguel9554/cpp-vcd-tracer.git
[submodule "external/verilog-vcd-parser"]
	path = external/verilog-vcd-parser
	url = git@github.com:miguel9554/verilog-vcd-parser.git
[submodule "external/taxi"]
	path = external/taxi
	url = git@github.com:fpganinja/taxi.git
