# Build directories
build/
build-*/
cmake-build-*/
external/slang-install-debug

# Compiled binaries
*.o
*.a
*.so
*.dylib
*.exe
custom_hdl_compiler

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Compilation database
compile_commands.json

# Python
__pycache__/
*.pyc
*.pyo
.cache
.venv/
.clangd
**/*.vcd
tests/**/*.txt
!tests/regression_tests.txt
tests/**/obj_dir
tests/**/tb/generated/
tests/**/work/**/obj_dir/
tests/**/work/**/debug_output
tests/**/work/**/output
tests/**/work/**/mate.log
tests/**/work/**/*.hash
tests/**/work/**/*.vcd
**/*.gtkw
**/debug_output
external/slang-install/

docs/1800-2023.pdf

docs/*
get_prompt.py
.codex
